<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Binding" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Core" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Platform" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.File" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.Messenger" version="4.4.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvX.Plugins.AssemblyFinder" version="0.4.0.21718-pre" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="NoSqlRepositories.Core" version="1.16.41.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="NoSqlRepositories.Logger" version="0.3.6.0" targetFramework="portable45-net45+win8+wpa81" />
</packages>